#{extends 'main.html' /}
#{set title:'Tweets Page' /} 

<nav class="ui inverted purple menu">
<header class="header item"> <a href="/"> Welcome </a> </header>
    <div class="left menu">
    <a class="ui active item" href="/tweet"> Create a tweet</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

<section class="ui raised segment">
	<div class="ui grid">
	  <div class="fifteen wide column">#{include "segments/createtweet.html" /} </div>
	  <div class="fifteen wide column">#{include "segments/completetweets.html" /}</div>
	</div>
</section>