
	<div class="ui grid">
		<article class="fifteen wide column">
			<table class="ui purple fixed line celled table segment">
				<thead>
					<tr>
						<th>Contact</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					#{list items:tweets, as:'tweet'}
					<tr>
						<td>${tweet.contact}</td>
						<td>${tweet.messageTweet}<a>
						</a> <a href="/tweet/deleteTweet/${tweet.id}">
								<button class="ui red button">Delete Tweet</button>
						</a>
						</td>
					</tr>
					#{/list}
				</tbody>
			</table>
		</article>
