<section>
	<div class="ui huge header">${tweeter.firstName}
		${tweeter.lastName}'s Profile</div>
	<section class="ui purple two column grid segment">
		<div class="row">
			<div class="column">
				<div class="ui medium image">
					<img src="/public/images/tweetycreatetweet.png" class="ui medium image">
				</div>
			</div>
			<div class="column">
				<div class="ui small header">Create a tweet</div>
				<form action="/tweet/createtweet" class="ui form" method="post">
					<div class="ui form">
						<div class="field">
							<label> Enter a Contact </label> <input type="text" name="contact"
								maxlength="100">
						</div>
					</div>
					<div class="field">
						<label>Message Tweet</label>
						<textarea name="messageTweet" maxlength="140"></textarea>
					</div>
					<button class="ui fluid orange labeled submit icon button">
						<i class="icon edit"></i> Send Tweet
					</button>
				</form>
			</div>
		</div>
	</section>
</section>