<section class="ui raised segment">
	<div class="ui grid">
		<div class="ui eight wide column fluid form">
			<div class="ui stacked segment">
				<form action="/authenticate" method="POST">
					<h3 class="ui header">Log In</h3>
					<div class="field">
						<label>Email</label> <input placeholder="Email" type="text"
							name="email">
					</div>
					<div class="field">
						<label>Password</label> <input type="password" name="password">
					</div>
					<button class="ui blue submit button">Login</button>
				</form>
			</div>
		</div>
		<aside class="ui six wide column">
			<img src="/public/images/tweetylogin.png" class="ui medium image">
		</aside>
	</div>
</section>