#{extends 'main.html' /}

<nav class="ui inverted purple menu">
  #{if activePage=='signup'} 
    <a class="ui item active" href="/signup"><i class="add user icon"></i>Sign Up</a>
  #{/if} #{else}
    <a class="ui item" href="/signup"><i class="add user icon"></i>Sign Up</a>
  #{/else}
  #{if activePage=='login'} 
    <a class="ui active item" href="/login"><i class="user icon"></i>Log In </a>
  #{/if} #{else}
    <a class="item" href="/login"><i class="sign in icon"></i>Log In</a>
  #{/else}
</nav>    