<section class="ui stacked segment">
	<div class="ui grid">
		<aside class="eight wide column">
			<img src="/public/images/tweetytweetservice.png"class="ui medium image">
		</aside>
		<article class="eight wide column">
			<div class="ui sizer vertical segment">
				<div class="ui huge header">Welcome to Tweet Service Page</div>
			</div>
			<label>Create a tweet and send them to a contact.</label>
			<p>Enjoy using this social service.</p>
		</article>
	</div>
</section>